@{ 
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="row m-4">
    <div class=" col-3">
        <div class="left-menu">
            <div class="left-menu-item">
                <a href="@Url.Action("Index", "User")">Thông tin người dùng</a>
            </div>

            <div class="left-menu-item active">
                <a href="@Url.Action("ChangePassword", "User")">Đổi mật khẩu</a>
            </div>

            @*@if (Model.HaveRole(NewsApplication.Models.User.JOURNALIST))
            {
                <div class="left-menu-item">
                    <a href="@Url.Action("Posted", "Post")">Bài báo đã đăng</a>
                </div>
            }*@
        </div>
    </div>
    <div class=" col-9">
        <div class="right-content">
            <div class="card">
                <div class="card-header">
                    Đổi mật khẩu
                </div>
                <div class="card-body">
                    @if(ViewBag.SuccessMessage != null){
                        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
                    }
                    @if(ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                    }
                    @if(ViewBag.ErrorsMap != null)
                    {
                        <div class="alert alert-danger">
                            @foreach(string key in ViewBag.ErrorsMap.Keys)
                            {
                                @ViewBag.ErrorsMap[key]
                            }
                        </div>
                    }
                    <form method="post">
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input class="form-control" type="password" name="password" />
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu mới</label>
                            <input class="form-control" type="password" name="password" />
                        </div>
                        <button class="btn btn-primary" name="changepassword" value="changepassword">Đổi mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>